### Sentiment Analysis - Real or Fake Disaster Tweets

In [1]:
import pandas as pd
import numpy as np

In [31]:
train_data = pd.read_csv('data_set/train.csv')

In [34]:
# train_df = train_data[['id', 'keyword', 'text', 'target']]

train_df = train_data.iloc[0:, 0:5]
train_df.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [33]:
train_df.describe()

                 id
count   7613.000000
mean    5441.934848
std     3137.116090
min        1.000000
25%     2734.000000
50%     5408.000000
75%     8146.000000
max    10873.000000

In [37]:
real_disaster = train_df[train_df['target'] == '1']
real_disaster.head()

,id,keyword,location,text,target
0,1,NaN,NaN,Our Deeds are the Reason of this #earthquake M...,1
1,4,NaN,NaN,Forest fire near La Ronge Sask. Canada,1
2,5,NaN,NaN,All residents asked to 'shelter in place' are ...,1
3,6,NaN,NaN,"13,000 people receive #wildfires evacuation or...",1
4,7,NaN,NaN,Just got sent this photo from Ruby #Alaska as ...,1

In [38]:
fake_disaster = train_df[train_df['target'] == '0']
fake_disaster.head()

    id keyword location                          text target
15  23     NaN      NaN                What's up man?      0
16  24     NaN      NaN                 I love fruits      0
17  25     NaN      NaN              Summer is lovely      0
18  26     NaN      NaN             My car is so fast      0
19  28     NaN      NaN  What a goooooooaaaaaal!!!!!!      0

In [50]:
import re
from string import punctuation

def remove_noise_from_text(review):
    review = re.sub(r'[`=~!@#$%^&*()_+\[\]{};\\:"|<,./<>?^]', ' ', review)
    words = review.split()
    new_review = str()
    for word in words:
        word = word.lower()
        word = word.strip(punctuation)
        word = word.strip()
        new_review += word + " "
    return new_review[:len(new_review)-1]

In [51]:
for index, row in fake_disaster.head().iterrows():
    str_pre_process = row['text']
    print(remove_noise_from_text(str_pre_process))

what's up man
i love fruits
summer is lovely
my car is so fast
what a goooooooaaaaaal